{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container col-lg-9 col-sm-12">
  <h1>Привет, я Острогов Кирилл</h1>
  <p>
    Я пришел в разработку из фитнеса. Работаю тренером более 8 лет и понял, что хочу сменить профессию
    Так я начал учиться на курсе <b>"Python-разработчик +"</b>. Пока дается не просто
    <br>
    Надеюсь, что освою весь материал и начну работать в этой сфере.
    <br>
    Более подробно с моим портфолио проектов вы миожете ознакомиться по ссылке ниже
  </p>
  <a href="https://github.com/ostrogovkirill" class="btn btn-primary">Мой Git</a>
</div> 
{% endblock %} 